.newRegister{
    text-decoration: none;
    
}
.whole{
    background: url(https://th.bing.com/th?id=OIP.zx96tZpmLDxjzk3AWv3kqAHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
    margin: 0;
    padding: 0;
    height: 600px;
    width: 1340px;
    margin: auto;
}